.main-page {
  width: 100%;
  height: 100%;
}

.main-page-content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.fullList-view {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 15px 20px;
  background-color: #fff;
}

.all-product-render {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
